* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  background-color: black;
  color: rgb(0, 255, 0);
}

.container {
  width: 100%;
}

h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 4rem;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  font-size: 2rem;
}

#quote-box {
  width: 40rem;
}

#author {
  margin-right: 1rem;
  text-align: right;
}

.prompt-string.bottom code span#cursor {
  background-color: rgb(0, 255, 0);
}

.clickable {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  font-size: 3rem;
  color: white;
}

.clickable a {
  background-color: rgb(0, 255, 0);
  color: black;
  width: 6rem;
  text-align: center;
}

#new-quote {
  border: 0;
  background-color: rgb(0, 255, 0);
  font-weight: bold;
}

.clickable a:hover, #new-quote:hover {
  background-color: green;
  cursor: pointer;
}